openapi: 3.1.0

info:
  title: Low Level Screen Service (LLSS) API
  version: 0.2.1
  description: >
    The Low Level Screen Service (LLSS) brokers communication between
    e-Ink display devices and High Level Screen Service (HLSS) instances.
    It manages authentication, frame storage, diffing, and device orchestration.


    ## Authentication
    
    LLSS uses JWT-based authentication with two token types:
    
    - **Access Token** (short-lived, 1 day): Used for all authenticated API calls
    - **Refresh Token** (long-lived, 30 days): Stored securely on device, used to obtain new access tokens
    
    
    ### Device Authentication Flow
    
    1. **Registration**: Device calls `POST /auth/devices/register` with hardware_id and display capabilities.
       Returns `device_id` and `device_secret`. Device stores these in non-volatile memory (EEPROM/SPIFFS).
       Device status is set to `pending`.
    
    2. **Admin Authorization**: Administrator reviews pending devices via admin interface and authorizes them.
       Device status changes to `authorized`.
    
    3. **Get Refresh Token**: Device calls `POST /auth/devices/token` with `hardware_id` and `device_secret`.
       If authorized, returns a 30-day refresh token.
    
    4. **Get Access Token**: Device calls `POST /auth/devices/refresh` with refresh token in Authorization header.
       Returns a 1-day access token.
    
    5. **Use API**: Device includes access token in all API calls as `Authorization: Bearer {access_token}`.
    
    6. **Handle 401**: When device receives 401, it refreshes the access token (step 4).
       If refresh fails, device re-authenticates from step 3.
    
    7. **Renew Refresh Token**: Periodically (e.g., every 15 days), device calls `POST /auth/devices/renew-refresh`
       with access token to get a new 30-day refresh token before it expires.


    ### Server-to-Server (LLSS ↔ HLSS)

    LLSS and HLSS share a symmetric key set via the `HLSS_SHARED_KEY` environment variable.
    LLSS uses this key to issue JWTs that HLSS can validate locally.

    - **Orchestrator Token** (`llss_admin`): High-privilege JWT used to create/manage HLSS instances.
    - **Instance Token** (`instance_access`): JWT issued to an HLSS instance so it can call back to LLSS
      (submit frames, notify changes, receive inputs).

servers:
  - url: https://eink.tutu.eng.br:9608/api

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: Device authentication and token management
  - name: Devices
    description: Physical e-Ink devices (ESP32-based)
  - name: Instances
    description: HLSS instances managed by LLSS
  - name: Frames
    description: Logical and rendered frames
  - name: Inputs
    description: Button and input events
  - name: Admin
    description: Administrative endpoints for device and instance management

paths:

  # ============================================================
  # Authentication Endpoints
  # ============================================================

  /auth/devices/register:
    post:
      tags: [Authentication]
      summary: Register a new device
      description: >
        Registers a new physical device with LLSS. This is an **unauthenticated** endpoint.
        
        
        The device provides its hardware identifier and display capabilities.
        LLSS creates a new device record with `pending` status and returns:
        - `device_id`: Unique identifier for this device
        - `device_secret`: Secret key for authentication (store securely!)
        
        
        The device must wait for admin authorization before it can obtain tokens.
        Store `device_secret` in non-volatile memory (EEPROM/SPIFFS) - it cannot be retrieved later.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceRegistrationRequest"
      responses:
        "201":
          description: Device registered successfully (pending authorization)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRegistrationResponse"
        "409":
          description: Device with this hardware_id already exists

  /auth/devices/token:
    post:
      tags: [Authentication]
      summary: Authenticate device and get refresh token
      description: >
        Authenticates a device using its hardware_id and device_secret.
        This is an **unauthenticated** endpoint.
        
        
        **Possible outcomes:**
        - If device is `authorized`: Returns a 30-day refresh token
        - If device is `pending`: Returns status indicating waiting for admin approval
        - If device is `rejected` or `revoked`: Returns 403 error
        - If device not found: Registers it as pending and returns status
        
        
        The refresh token should be stored securely in non-volatile memory.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceAuthRequest"
      responses:
        "200":
          description: Authentication result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthResponse"
        "401":
          description: Invalid device credentials
        "403":
          description: Device access rejected or revoked

  /auth/devices/refresh:
    post:
      tags: [Authentication]
      summary: Exchange refresh token for access token
      description: >
        Exchanges a valid refresh token for a new 1-day access token.
        
        
        Call this endpoint when:
        - Device starts up and needs an access token
        - Device receives a 401 error on any API call
        
        
        The access token is used in the Authorization header for all other API calls.
      security:
        - RefreshToken: []
      responses:
        "200":
          description: New access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenRefreshResponse"
        "401":
          description: Invalid or expired refresh token
        "403":
          description: Device not authorized

  /auth/devices/renew-refresh:
    post:
      tags: [Authentication]
      summary: Get new refresh token using access token
      description: >
        Obtains a new 30-day refresh token using a valid access token.
        
        
        The device should call this periodically (e.g., every 15 days) to ensure
        the refresh token doesn't expire. The old refresh token is invalidated
        when a new one is issued.
      responses:
        "200":
          description: New refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenRenewalResponse"
        "401":
          description: Invalid or expired access token
        "403":
          description: Device not authorized

  /auth/devices/status:
    get:
      tags: [Authentication]
      summary: Get device authentication status
      description: >
        Returns the current authentication and authorization status of the device.
      responses:
        "200":
          description: Device status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAuthStatus"
        "401":
          description: Invalid or expired access token

  # ============================================================
  # Device Endpoints
  # ============================================================

  /devices/register:
    post:
      tags: [Devices]
      summary: Register a new physical device (DEPRECATED)
      deprecated: true
      description: >
        **DEPRECATED**: Use `POST /auth/devices/register` instead.
        
        
        This endpoint is kept for backwards compatibility but will be removed
        in a future version. The new auth system uses JWT tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceRegistration"
      responses:
        "201":
          description: Device registered (pending authorization)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRegistrationResponseLegacy"

  /devices/{device_id}/state:
    get:
      tags: [Devices]
      summary: Device heartbeat and action polling
      description: >
        Core polling endpoint used by devices to report status.
        LLSS responds with the next action to perform.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
        - name: last_frame_id
          in: query
          required: false
          schema:
            type: string
        - name: last_event_id
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Device action response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceStateResponse"

  /devices/{device_id}/frames/{frame_id}:
    get:
      tags: [Devices, Frames]
      summary: Fetch rendered frame data
      description: >
        Returns framebuffer data appropriate for the device's display capabilities.
        By default the server always returns a PNG image regardless of bit_depth.
        Use ?raw=true to receive packed raw framebuffer bytes instead.


        **Default (PNG) response per bit_depth:**


        - **bit_depth=1**: 1-bit grayscale PNG. Decoder should threshold at 128.

        - **bit_depth=2**: 8-bit grayscale PNG quantised to 4 levels
          (0=black, 85=dark gray, 170=light gray, 255=white).
          Decoded to L8 by the client; driver maps luma>>6 to the two EPD RAM planes.

        - **bit_depth=4**: 8-bit grayscale PNG quantised to 16 levels.

        - **bit_depth>4**: Full-colour PNG as stored (no conversion).


        **Raw (?raw=true) response per bit_depth:**


        - **bit_depth=1**: 1-bit packed monochrome (width x height / 8 bytes).

        - **bit_depth=2**: Two concatenated 1-bit planes (width x height / 8 x 2 bytes).
          MSB plane to EPD register 0x24, LSB plane to register 0x26.

        - **bit_depth=4**: 4-bit packed grayscale (width x height / 2 bytes).
          High nibble is the first pixel, low nibble is the second.


        If the frame dimensions don't match the device's display dimensions,
        the server will automatically resize the image.


        **Full frame:** the returned image is the complete display, with the top
        and bottom button-label strips already rendered into it (see
        `top_strip_height` / `bottom_strip_height` in DisplayCapabilities). The
        device blits the whole image and refreshes.


        Pressed-state strips (for local press feedback) are fetched separately
        from `GET /devices/{device_id}/strips/{strip_id}` — see that endpoint.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
        - name: frame_id
          in: path
          required: true
          schema:
            type: string
        - name: raw
          in: query
          required: false
          description: >
            When true, return packed raw framebuffer bytes instead of a PNG.
            Applies to all bit_depth values. Default is false (PNG response).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: >
            Framebuffer data. Content-Type is image/png by default.
            Returns application/octet-stream only when ?raw=true.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary

  /devices/{device_id}/strips/{strip_id}:
    get:
      tags: [Devices, Frames]
      summary: Fetch a pressed-state button strip (content-addressable)
      description: >
        Returns one pressed-state button-label strip (top or bottom) rendered
        with its buttons in the pressed visual state, for local device-side
        press feedback. Strips are content-addressable: `strip_id` is an opaque
        token (≤32 chars) computed by LLSS from the strip bytes at upload time.


        The current strip ids for the active frame are advertised by LLSS in
        `DeviceStateResponse.top_strip_id` / `bottom_strip_id` and in
        `InputProcessResponse.top_strip_id` / `bottom_strip_id`. A device that
        sees an unknown id MAY prefetch the strip in the background; on a
        button press it MAY blit the pressed strip over the current image as
        local feedback while waiting for the next full frame.


        Strips are immutable for a given id and safe to cache on the device
        keyed by `strip_id`. The endpoint is purely optional — a device that
        does not implement press feedback never calls it.


        Returns 404 if the id is unknown to the server (e.g. evicted, or the
        active HLSS instance did not upload pressed strips). The device must
        treat 404 as "no press feedback available" and fall back to local
        improvisation (e.g. invert the pressed slot).


        The strip width matches the device display `width`; the height is the
        device-declared `top_strip_height` or `bottom_strip_height` for the
        respective band. Encoding follows the same bit_depth/raw rules as the
        full frame endpoint.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
        - name: strip_id
          in: path
          required: true
          description: Opaque content-hash token for the strip (LLSS-assigned).
          schema:
            type: string
            maxLength: 32
        - name: raw
          in: query
          required: false
          description: >
            When true, return packed raw framebuffer bytes instead of a PNG.
            Same semantics as the full-frame endpoint.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Pressed-state strip image.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        "404":
          description: Strip id unknown to the server.

  /devices/{device_id}/inputs:
    post:
      tags: [Devices, Inputs]
      summary: Submit input events from a device
      description: >
        Sends button presses or other input events from the device to LLSS.
        LLSS routes them to the active HLSS instance.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputEvent"
      responses:
        "200":
          description: Input processing result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InputProcessResponse"

  /instances:
    post:
      tags: [Instances]
      summary: Create a new HLSS instance
      description: >
        Creates a new logical HLSS instance (e.g. a chess game or HA dashboard).
      security:
        - OrchestratorAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstanceCreate"
      responses:
        "201":
          description: Instance created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Instance"

  /instances/{instance_id}/frames:
    post:
      tags: [Instances, Frames]
      summary: Submit a new logical frame
      description: >
        HLSS submits a newly rendered frame. HLSS renders EVERYTHING: the whole
        display image (content + both button strips already drawn in) and,
        optionally, the pressed-state versions of the strips. LLSS stores them
        and serves them to the device (whole image on the normal frame fetch;
        pressed strips via `GET /devices/{device_id}/strips/{strip_id}`).


        For each pressed strip part received, LLSS computes a content-hash
        `strip_id` (opaque token, ≤32 chars) and advertises it to the device in
        the next `DeviceStateResponse` (or `InputProcessResponse`). Identical
        strips across successive frames yield the same id, so the device can
        cache by id and skip re-fetching.


        LLSS MAY diff successive frames internally (e.g. to skip pushing an
        identical frame or to choose a refresh hint) but always serves whole
        images — there is no region/partial transport on the device wire.


        **Multipart parts:**

        - `file` (required, image/png): the whole rendered display image.
        - `top_pressed` (optional, added in extension, image/png): top strip
          rendered with its buttons pressed. Height = device `top_strip_height`.
        - `bottom_pressed` (optional, added in extension, image/png): bottom strip
          rendered with its buttons pressed. Height = device `bottom_strip_height`.
      security:
        - InstanceAuth: []
      parameters:
        - name: instance_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Whole rendered display image (content + strips), PNG.
                top_pressed:
                  type: string
                  format: binary
                  description: >
                    (optional, added in extension) Top strip in pressed state, PNG.
                bottom_pressed:
                  type: string
                  format: binary
                  description: >
                    (optional, added in extension) Bottom strip in pressed state, PNG.
          image/png:
            schema:
              type: string
              format: binary
            description: >
              Legacy single-image upload (no pressed strips). Equivalent to a
              multipart body with only `file`.
      responses:
        "201":
          description: Frame accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FrameCreateResponse"

  /instances/{instance_id}/notify:
    post:
      tags: [Instances]
      summary: Notify LLSS of instance state change
      description: >
        Notifies LLSS that the instance state has changed and a new frame
        may be available or should be requested.
      security:
        - InstanceAuth: []
      parameters:
        - name: instance_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Notification accepted

  /instances/{instance_id}/inputs:
    post:
      tags: [Instances, Inputs]
      summary: Receive forwarded input events
      description: >
        LLSS forwards device input events to the active HLSS instance.
      security:
        - InstanceAuth: []
      parameters:
        - name: instance_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InputEvent"
      responses:
        "200":
          description: Input processed

  # ============================================================
  # Admin Endpoints - Device Authorization
  # ============================================================

  /admin/devices/pending:
    get:
      tags: [Admin]
      summary: List devices pending authorization
      description: >
        Returns all devices with `pending` authorization status.
        Admin should review these and authorize or reject them.
      responses:
        "200":
          description: List of pending devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PendingDevice"

  /admin/devices/{device_id}/authorize:
    post:
      tags: [Admin]
      summary: Authorize a pending device
      description: >
        Authorizes a device, allowing it to obtain tokens and use the API.
        Once authorized, the device can call `/auth/devices/token` to get a refresh token.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device authorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Device authorized successfully"
                  device_id:
                    type: string
                  auth_status:
                    type: string
                    example: "authorized"
        "404":
          description: Device not found

  /admin/devices/{device_id}/reject:
    post:
      tags: [Admin]
      summary: Reject a pending device
      description: >
        Rejects a device. Rejected devices cannot obtain tokens.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Device rejected"
                  device_id:
                    type: string
                  auth_status:
                    type: string
                    example: "rejected"
        "404":
          description: Device not found

  /admin/devices/{device_id}/revoke:
    post:
      tags: [Admin]
      summary: Revoke access for an authorized device
      description: >
        Revokes access for a previously authorized device.
        This invalidates the device's current refresh token immediately.
        The device will need to be re-authorized by admin to regain access.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device access revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Device access revoked"
                  device_id:
                    type: string
                  auth_status:
                    type: string
                    example: "revoked"
        "404":
          description: Device not found

  /admin/devices/{device_id}/reauthorize:
    post:
      tags: [Admin]
      summary: Re-authorize a rejected or revoked device
      description: >
        Re-authorizes a device that was previously rejected or revoked.
        The device will need to obtain a new refresh token.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device re-authorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Device re-authorized successfully"
                  device_id:
                    type: string
                  auth_status:
                    type: string
                    example: "authorized"
        "404":
          description: Device not found

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT access token obtained from `/auth/devices/refresh`.
        Valid for 1 day. Include in Authorization header as `Bearer {token}`.
    
    RefreshToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT refresh token obtained from `/auth/devices/token`.
        Valid for 30 days. Used only for `/auth/devices/refresh` endpoint.

    InstanceAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT issued by LLSS for HLSS instances (type `instance_access`).
        Signed with the shared key (`HLSS_SHARED_KEY`) and used for instance callbacks.

    OrchestratorAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        High-privilege JWT for LLSS orchestrator actions (type `llss_admin`).
        Signed with the shared key (`HLSS_SHARED_KEY`).

  schemas:

    # ============================================================
    # Authentication Schemas
    # ============================================================

    DeviceRegistrationRequest:
      type: object
      description: Request to register a new device
      required: [hardware_id, firmware_version, display]
      properties:
        hardware_id:
          type: string
          description: Unique hardware identifier (e.g., ESP32 chip ID)
          example: "ESP32_A1B2C3D4"
        firmware_version:
          type: string
          description: Current firmware version
          example: "1.0.0"
        display:
          $ref: "#/components/schemas/DisplayCapabilities"

    DeviceRegistrationResponse:
      type: object
      description: Response after successful device registration
      properties:
        device_id:
          type: string
          description: Unique device identifier assigned by LLSS
          example: "dev_a1b2c3d4e5f6"
        device_secret:
          type: string
          description: >
            Secret key for device authentication. Store securely in non-volatile memory!
            This cannot be retrieved later.
          example: "xK9mN2pQ4rS6tU8vW0xY2zA4bC6dE8fG"
        auth_status:
          type: string
          enum: [pending, authorized, rejected, revoked]
          description: Current authorization status
          example: "pending"
        message:
          type: string
          description: Human-readable status message
          example: "Device registered. Waiting for admin authorization."

    DeviceAuthRequest:
      type: object
      description: Request to authenticate a device and obtain refresh token
      required: [hardware_id, device_secret, firmware_version, display]
      properties:
        hardware_id:
          type: string
          description: Unique hardware identifier
          example: "ESP32_A1B2C3D4"
        device_secret:
          type: string
          description: Secret key received during registration
          example: "xK9mN2pQ4rS6tU8vW0xY2zA4bC6dE8fG"
        firmware_version:
          type: string
          description: Current firmware version (may be updated)
          example: "1.0.1"
        display:
          $ref: "#/components/schemas/DisplayCapabilities"

    DeviceAuthResponse:
      type: object
      description: Response with authentication result
      properties:
        device_id:
          type: string
          description: Device identifier
          example: "dev_a1b2c3d4e5f6"
        refresh_token:
          type: string
          description: >
            JWT refresh token (30-day validity). Empty if device is not authorized.
            Store securely in non-volatile memory!
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refresh_token_expires_in:
          type: integer
          description: Token validity in seconds (0 if not authorized)
          example: 2592000
        auth_status:
          type: string
          enum: [pending, authorized, rejected, revoked]
          description: Current authorization status
          example: "authorized"
        message:
          type: string
          description: Human-readable status message
          example: "Authentication successful."

    TokenRefreshResponse:
      type: object
      description: Response with new access token
      properties:
        access_token:
          type: string
          description: JWT access token (1-day validity)
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          description: Token type (always "bearer")
          example: "bearer"
        expires_in:
          type: integer
          description: Token validity in seconds
          example: 86400

    RefreshTokenRenewalResponse:
      type: object
      description: Response with new refresh token
      properties:
        refresh_token:
          type: string
          description: New JWT refresh token (30-day validity)
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        expires_in:
          type: integer
          description: Token validity in seconds
          example: 2592000

    DeviceAuthStatus:
      type: object
      description: Device authentication status
      properties:
        device_id:
          type: string
          example: "dev_a1b2c3d4e5f6"
        auth_status:
          type: string
          enum: [pending, authorized, rejected, revoked]
          example: "authorized"
        authorized_at:
          type: string
          format: date-time
          nullable: true
          description: When the device was authorized (null if not authorized)

    # ============================================================
    # Device Schemas
    # ============================================================

    DeviceRegistration:
      type: object
      description: Legacy device registration request (deprecated)
      required: [hardware_id, firmware_version, display]
      properties:
        hardware_id:
          type: string
        firmware_version:
          type: string
        display:
          $ref: "#/components/schemas/DisplayCapabilities"

    DeviceRegistrationResponseLegacy:
      type: object
      description: Legacy device registration response (deprecated)
      properties:
        device_id:
          type: string
        device_secret:
          type: string
        access_token:
          type: string
          description: Empty string - use auth endpoints to get tokens

    DisplayCapabilities:
      type: object
      description: Display hardware capabilities
      required: [width, height, bit_depth]
      properties:
        width:
          type: integer
          description: Display width in pixels
          example: 800
        height:
          type: integer
          description: Display height in pixels
          example: 600
        bit_depth:
          type: integer
          description: >
            Number of bits per pixel. Controls quantisation on the server.
            The server returns a grayscale PNG by default; use ?raw=true for packed bytes.
            - 1: Monochrome. PNG: 1-bit grayscale. Raw: width*height/8 bytes.
            - 2: 4-level grayscale. PNG: L8 quantised to 4 levels (0/85/170/255).
              Raw: two concatenated 1-bit planes, MSB then LSB. width*height/8*2 bytes.
            - 4: 16-level grayscale. PNG: L8 quantised to 16 levels.
              Raw: 4-bit packed, width*height/2 bytes.
            - >4: Full-colour PNG (no conversion). Raw not applicable.
          example: 2
        partial_refresh:
          type: boolean
          default: false
          description: Whether the display supports partial refresh
        top_strip_height:
          type: integer
          default: 0
          description: >
            (optional, added in extension) Height in pixels reserved at the TOP of
            the display for the button-label strip. The server renders this strip
            into the full frame image. The usable content area height is
            `height - top_strip_height - bottom_strip_height`. 0 = no top strip.
          example: 48
        bottom_strip_height:
          type: integer
          default: 0
          description: >
            (optional, added in extension) Height in pixels reserved at the BOTTOM
            of the display for the button-label strip. The server renders this strip
            into the full frame image. 0 = no bottom strip.
          example: 48

    DeviceStateResponse:
      type: object
      description: Response indicating what action the device should take
      required: [action]
      properties:
        action:
          type: string
          enum: [NOOP, FETCH_FRAME, SLEEP]
          description: >
            Action for device to perform:
            - NOOP: No action needed, continue polling
            - FETCH_FRAME: New frame available, fetch it
            - SLEEP: Enter sleep mode
        frame_id:
          type: string
          nullable: true
          description: Frame ID to fetch (when action is FETCH_FRAME)
        active_instance_id:
          type: string
          nullable: true
          description: Currently active HLSS instance
        poll_after_ms:
          type: integer
          description: Suggested interval before next poll (milliseconds)
          example: 5000
        top_strip_id:
          type: string
          nullable: true
          maxLength: 32
          description: >
            (optional, added in extension) Content-hash id for the pressed-state
            top button strip belonging to the current frame. Omitted/null when
            the active instance did not upload one. Fetch with
            `GET /devices/{device_id}/strips/{strip_id}`; safe to cache by id.
        bottom_strip_id:
          type: string
          nullable: true
          maxLength: 32
          description: >
            (optional, added in extension) Content-hash id for the pressed-state
            bottom button strip belonging to the current frame. Same semantics
            as `top_strip_id`.

    # ============================================================
    # Input Schemas
    # ============================================================

    InputEvent:
      type: object
      description: Button or input event from device
      required: [button, event_type, timestamp]
      properties:
        button:
          type: string
          enum:
            - BTN_1
            - BTN_2
            - BTN_3
            - BTN_4
            - BTN_5
            - BTN_6
            - BTN_7
            - BTN_8
            - ENTER
            - ESC
            - HL_LEFT
            - HL_RIGHT
          description: >
            Button identifier. HL_LEFT and HL_RIGHT are reserved for
            switching between assigned HLSS instances.
        event_type:
          type: string
          enum: [PRESS, LONG_PRESS, RELEASE]
          description: Type of button event
        timestamp:
          type: string
          format: date-time
          description: When the event occurred (ISO 8601)

    InputProcessResponse:
      type: object
      description: Result of input processing
      required: [status]
      properties:
        status:
          type: string
          enum: [NEW_FRAME, NO_CHANGE, POLL, ERROR]
          description: Processing outcome
        frame_id:
          type: string
          nullable: true
          description: New frame ID when status is NEW_FRAME
        poll_after_ms:
          type: integer
          nullable: true
          description: Suggested polling delay in milliseconds when status is POLL
        message:
          type: string
          nullable: true
          description: Optional info or error message
        top_strip_id:
          type: string
          nullable: true
          maxLength: 32
          description: >
            (optional, added in extension) Same semantics as
            `DeviceStateResponse.top_strip_id` — content-hash id for the
            pressed-state top strip of the resulting frame.
        bottom_strip_id:
          type: string
          nullable: true
          maxLength: 32
          description: >
            (optional, added in extension) Same semantics as
            `DeviceStateResponse.bottom_strip_id` — content-hash id for the
            pressed-state bottom strip of the resulting frame.

    # ============================================================
    # Instance Schemas
    # ============================================================

    InstanceCreate:
      type: object
      description: Request to create a new HLSS instance
      required: [name, type]
      properties:
        name:
          type: string
          description: Human-readable instance name
          example: "Living Room Dashboard"
        type:
          type: string
          description: Instance type (e.g., chess, homeassistant)
          example: "homeassistant"

    Instance:
      type: object
      description: HLSS instance information
      properties:
        instance_id:
          type: string
          description: Unique instance identifier
          example: "inst_a1b2c3d4e5f6"
        name:
          type: string
          example: "Living Room Dashboard"
        type:
          type: string
          example: "homeassistant"
        access_token:
          type: string
          nullable: true
          description: JWT (type `instance_access`) for HLSS to authenticate with LLSS, signed with `HLSS_SHARED_KEY`
        created_at:
          type: string
          format: date-time

    # ============================================================
    # Frame Schemas
    # ============================================================

    FrameCreateResponse:
      type: object
      description: Response after frame submission
      properties:
        frame_id:
          type: string
          description: Unique frame identifier
          example: "frame_a1b2c3d4e5f6"
        hash:
          type: string
          description: SHA-256 hash prefix for deduplication
          example: "a1b2c3d4e5f6g7h8"
        created_at:
          type: string
          format: date-time

    # ============================================================
    # Admin Schemas
    # ============================================================

    PendingDevice:
      type: object
      description: Device pending authorization
      properties:
        device_id:
          type: string
          example: "dev_a1b2c3d4e5f6"
        hardware_id:
          type: string
          example: "ESP32_A1B2C3D4"
        firmware_version:
          type: string
          example: "1.0.0"
        display:
          $ref: "#/components/schemas/DisplayCapabilities"
        auth_status:
          type: string
          enum: [pending]
        created_at:
          type: string
          format: date-time
